<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="col-lg-6">
            <div class="form-group">
                <%#= f.label :type, class:"mb-2"%>
                <%#= f.select  :type, options_for_select(User::TYPE, selected:
                @user.type),{prompt: 'Select Role'},{ class:"form-select form-select-lg
                rounded-0" }%>
                <%# @user.errors.full_messages_for(:type).each do |message| %> 
                    <p class="text-danger"><%#= message%> </p>
                <%#end%>
            </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
