<%= form_with  model: bug do |form| %>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :title , class:"mb-2"%>
                <%= form.text_field  :title, class:"form-control form-control-lg rounded-0"%>                
                <% @bug.errors.full_messages_for(:title).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :Priority, class:"mb-2"%>
                <%= form.text_field  :priority, class:"form-control form-control-lg rounded-0"%>                
                <% @bug.errors.full_messages_for(:priority).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <%= form.label :description, class:"mb-2"%>
                <%= form.text_area :description, class: 'form-control form-control-lg', rows: 4 %>                
                <% @bug.errors.full_messages_for(:description).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :est_days, class:"mb-2"%>
                <%= form.text_field  :est_days, class:"form-control form-control-lg rounded-0"%>                
                <% @bug.errors.full_messages_for(:est_days).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <%= form.label :status, class:"mb-2"%>
                <%= form.select  :status, options_for_select(Bug::STATUS, selected:
                bug.status),{prompt: 'Select Current Status'},{ class:"form-select form-select-lg
                rounded-0" }%>
                <% @bug.errors.full_messages_for(:status).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-lg-12">
            <div class="form-group">
                <%= form.label :user_id, class:"mb-2"%>
                <%= form.select  :user_id, options_for_select(User.all.map{|user|
                [user.email, user.id]}, selected:
                bug.user_id),{prompt: 'Select User'},{ class:"form-select form-select-lg
                rounded-0" }%>

                <%#= form.select  :employee_id, options_for_select(Employee.pluck(:f_name, :id), selected:
                document.employee_id),{prompt: 'Select employee'},{ class:"form-select form-select-lg
                rounded-0" }%>

                <% @bug.errors.full_messages_for(:user_id).each do |message| %> 
                    <p class="text-danger"><%= message%> </p>
                <%end%>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <%= form.submit class:"btn btn-primary btn-lg rounded-0 my-2" %>
            <%= link_to 'Back To Bugs List', bugs_path,  class:"btn btn-outline-primary btn-lg rounded-0 my-2" %>

        </div>
        
    </div>
    
<%end%>

